.box{
  height : auto;
  width: 100%;
  
}
.img {
  padding: 30px; 
  height: 250px;
  width : 500px;
  transition: transform 0.4s ease;
  clip-path: polygon(91% 14%, 91% 86%, 76% 100%, 2% 100%, 0% 14%);
}
.img :hover {
  cursor: pointer;
  transform: scale(1.05);
}
.title {
  margin-top: 100px;
  font-style: italic;
  font-family: serif;
}
.title  :hover {
  cursor: pointer;
  transform: scale(1.05);
  color : red;
}

.left{
  display: flex;
  margin: 50px;
  height: 350px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.td{
  text-align: justify;
  margin-top: -60px;
}
.desc {
 
  font-style: italic;
  font-family: serif;
}
.cc {
  display: flex;
  float: right;
  font-style: italic;
  font-family: serif;
  margin-top: -30px;
  /* width : 20% */
}
.i1 {
  padding-right: 5px;
}
.i2{
  padding-right: 5px;
}
.comments{
  padding-right: 5px;
}
.counts {
  padding-right: 5px;
}
.sport {
  font-style: italic;
  font-family: serif;
  color: rgb(136, 132, 132);
  font-size: 15px;
  margin-top: 100px;
  width: 40%;
}

span {
  font-size: 15px;
  text-transform: uppercase;
  color: blue;
  font-weight: bold;
  cursor: pointer;
  
}